.shopContainer {
  padding: 20px;
  background-color: rgba(34, 34, 34, 0.85); /* 투명한 배경 */
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  height: 100vh; /* 화면을 꽉 채우도록 설정 */
  color: white;
}

.shopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.shopHeader h2 {
  margin: 0;
}

.toolsList {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  flex-grow: 1;
}

.toolItem {
  background-color: rgba(51, 51, 51, 0.85); /* 다크 모드 배경 */
  border: 1px solid #555555;
  border-radius: var(--border-radius);
  padding: 10px;
  margin: 10px;
  flex: 1 0 30%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white; /* 텍스트를 흰색으로 설정 */
}

.toolItem h3 {
  margin-top: 0;
}

.toolItem button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.toolItem button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
