@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');

html {
  position: relative;
  overflow-x: hidden !important;
}

a,
a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.profileCard {
  width: 100%;
  min-height: 460px;
  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: rgba(34, 34, 34, 0.85);
  border-radius: 12px;
  max-width: 700px;
  position: relative;
  color: white;
}

.profileCardImg {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px rgba(107, 68, 255, 0.8), 0px 0px 0px 7px rgba(107, 74, 255, 0.5);

  @media screen and (max-width: 576px) {
    width: 120px;
    height: 120px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.profileCardCnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all 0.3s;
}

.profileCardName {
  font-weight: 700;
  font-size: 24px;
  color: #6944ff;
  margin-bottom: 15px;
}

.profileCardTxt {
  font-size: 18px;
  font-weight: 500;
  color: #c9c9c9;
  margin-bottom: 15px;

  strong {
    font-weight: 700;
  }
}

.profileCardLoc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.profileCardLocIcon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}

.profileCardLocTxt {
  margin-left: 0px; /* 아이콘과 텍스트 사이에 간격 추가 */
  filter: blur(10px); /* 모자이크 효과를 위한 블러 처리 */
  background-color: rgba(253, 110, 110, 0.5); /* 배경색 추가 */
  padding: 2px 5px; /* 텍스트 주위에 패딩 추가 */
  border-radius: 4px; /* 모서리를 둥글게 처리 */
  color: transparent; /* 텍스트 색상을 투명하게 처리 */
}

.profileCardInf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}

.profileCardInfItem {
  padding: 10px 35px;
  min-width: 150px;

  @media screen and (max-width: 768px) {
    padding: 10px 20px;
    min-width: 120px;
  }
}

.profileCardInfTitle {
  font-weight: 700;
  font-size: 27px;
  color: #c9c9c9;
}

.profileCardInfTxt {
  font-weight: 500;
  margin-top: 7px;
  color: #c9c9c9;
}

.profileCardCtr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  @media screen and (max-width: 576px) {
    flex-wrap: wrap;
  }
}

.profileCardButton {
  background: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: white;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.3s;

  @media screen and (max-width: 768px) {
    min-width: 170px;
    margin: 15px 25px;
  }

  @media screen and (max-width: 576px) {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:focus {
    outline: none !important;
  }

  @media screen and (min-width: 768px) {
    &:hover {
      transform: translateY(-5px);
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.buttonBlue {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);

    &:hover {
      box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
    }
  }

  &.buttonGray {
    box-shadow: none;
    background: #dcdcdc;
    color: #142029;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}
