/* src/Game.css */
.maze {
    display: grid;

}

.mazeRow {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    border-radius: 40%;

}

.wall {
    background-color: #333;
    /* 벽 색상 (어두운 회색) */
}

.start {
    background-color: rgb(56, 179, 56);
    /* 시작점 색상 */
    box-shadow:
        0 0 7px #14c555,
        0 0 10px rgb(56, 179, 56),
        inset 0 0 7px #14c555,
        inset 0 0 10px rgb(56, 179, 56);
}

.end {
    background-color: #1f7a1b;
    box-shadow:
        0 0 7px #14c555,
        0 0 10px rgb(56, 179, 56),
        inset 0 0 7px #14c555,
        inset 0 0 10px rgb(56, 179, 56);
    /* 종료점 색상 */
}

.player {
    background-color: rgb(15, 209, 173);
    /* 플레이어 색상 */
}

.hidden {
    background-color: #333;
    /* 보이지 않는 타일 색상 */
}

/* 추가 스타일 */
.path {
    background-color: rgb(65, 142, 84);
    box-shadow:
        0 0 7px #61e382,
        0 0 10px #a2e1b2,
        inset 0 0 7px #61e382,
        inset 0 0 10px #a2e1b2;

}

.cell {
    transition: background-color 0.3s;
    /* 배경색 변화를 부드럽게 */
}