body {
  background: #292929;
}

.progress_bar {
  --progressbar-color: rgba(233, 233, 233, 0.3);
  --progress-color: rgba(104, 255, 149, 1);
  --progress: 20%;
  --box-side-height: 30px;
  position: relative;
  width: 300px;
  height: 50px;
  margin: 200px auto;
  perspective: 200px;
}

.progress_bar .box {
  position: relative;
  width: 300px;
  height: 50px;
  background: var(--progressbar-color);
  transform-style: preserve-3d;
  transform: rotateX(0);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotateX(45deg);
}

.progress_bar.done .box {
  transform: rotateX(0);
}

.progress_bar .box_front {
  position: absolute;
  background: var(--progressbar-color);
  width: 100%;
  height: var(--box-side-height);
  left: 0;
  bottom: 0;
  transform-origin: center bottom;
  transform: rotateX(90deg);
  transition: transform 1s;
}

.progress_bar .box p {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.801);
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 100%;
  z-index: 99;
  font-weight: bold;
  transition: opacity 1s, visibility 1s;
}

.progress_bar.done .box p.loading_text {
  opacity: 0;
  visibility: hidden;
}

.progress_bar:not(.done) .box p.done_text {
  opacity: 0;
  visibility: hidden;
}

.progress_bar .box_bottom {
  position: absolute;
  background: var(--progressbar-color);
  opacity: 0.4;
  width: 100%;
  height: var(--box-side-height);
  left: 0;
  bottom: 0;
  transform-origin: center bottom;
  transform: translateZ(-30px);
  transition: transform 1s;
}

.progress_bar .box::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--progress-color);
  transform-origin: top left;
  transform: scaleX(var(--progress));
  transition: transform 0.1s;
  box-shadow: 0px 0px 20px rgba(100, 255, 121, 0.4);
}

.progress_bar .box_front::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--progress-color);
  transform-origin: top left;
  transform: scaleX(var(--progress));
  transition: transform 0.1s;
  box-shadow: 0px 0px 20px rgba(100, 255, 121, 0.4);
}