/* PortHack.module.css */



/* 포트 해킹 컨테이너 스타일 */
.portHackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #c9c9c9;
  font-family: 'Noto Sans KR', sans-serif;
}



/* 포트 목록 스타일 */
.portList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* 포트 아이템 스타일 */
.portItem {
  background-color: #444;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c9c9c9;
}

/* 해킹 버튼 스타일 */
.hackButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: 'Noto Sans KR', sans-serif;
}

.hackButton:hover {
  background-color: #45a049;
}