.directoryViewer {
  position: relative;
  display: flex;
  color: white;
  flex-direction: column;
  height: 55.5vh;
}

.directoryViewerHeader {
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
}

.backIcon {
  margin-right: 5px;
}

.directoryViewerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  text-align: center;
  justify-content: flex-start;
  flex-grow: 1;
  color: white;
  padding: 10px;
  overflow-y: auto;
  user-select: none;
}

.directoryViewerItem {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  user-select: none;
}

.directoryViewerIcon {
  cursor: pointer;
  user-select: none;
}

.directoryViewerPathBar {
  position: absolute;
  bottom: 0;
  text-align: left;
  background-color: #333333; /* 어두운 배경색 사용 */
  color: white; /* 텍스트는 하얀색으로 */
  width: 100%;
  padding: 8px 15px; /* 리눅스 경로 바 스타일을 위해 조금 좁은 패딩 */
  border-top: 2px solid #555555; /* 위쪽에 경계선을 추가 */
  box-shadow: none; /* 그림자 제거 */
}
