/* Modal.css */
.modalOverlay {
  position: fixed;
  /* 모달을 화면에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  /* 전체 너비 */
  height: 100%;
  /* 전체 높이 */
  background-color: rgba(0, 0, 0, 0.5);
  /* 반투명 검은색 배경 */
  display: flex;
  align-items: center;
  /* 수직 중앙 정렬 */
  justify-content: center;
  /* 수평 중앙 정렬 */
  
}

.modalContent {
  /* 화면에 고정 */
  z-index: 1;
  /* 내용 위에 표시 */
  background-color: #292929;
  /* width: 100%; */
  /* 전체 너비 */
  height: auto;
  /* 전체 높이 */
  overflow: auto;
  /* 내용이 넘칠 경우 스크롤 */
  backdrop-filter: blur(10px);
  /* 블러 효과 */
  /* background-color: #fff; */
  /* 배경색 */
  padding: 20px;
  /* 내부 여백 */
  border-radius: 5px;
  /* 모서리 둥글게 */
  max-width: 600px;
  /* 최대 너비 */
  width: auto;
  /* 너비 */
  /* 내용 너비 */
  border-radius: 10px;
  /* 테두리 둥글게 */
}


.inputBx {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  /* 입력란 사이의 여백 추가 */
}
.inputBx:last-child {
  margin-bottom: 0;
  /* 마지막 입력란과 로그인 버튼 사이의 여백 제거 */
}
.inputBx input {
  position: relative;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}

.inputBx input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #ff357a, #fff172);
  border: none;
  cursor: pointer;
}
.inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}


.modalContent h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 20px;
  /* 제목과 입력란 사이의 여백 추가 */
}

.modalContent .inputBx {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  /* 입력란 사이의 여백 추가 */
}

.modalContent .inputBx:last-child {
  margin-bottom: 0;
  /* 마지막 입력란과 로그인 버튼 사이의 여백 제거 */
}

.modalContent .inputBx input {
  position: relative;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}

.modalContent .inputBx input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #ff357a, #fff172);
  border: none;
  cursor: pointer;
}

.modalContent .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.modalContent .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.modalContent .links a {
  color: #fff;
  text-decoration: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}