/* Setting.module.css */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

.container {
  height: 100%;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  background-color: #2e2e2e;
  color: #ffffff;
}

.header {
  background-color: rgba(34, 34, 34, 0.85);
  color: #76b3fa;
  font-size: 24px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 30px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.inputContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px;
}

.toggleSwitch {
  position: relative;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.3s;
}

.toggleSwitch::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  top: 4px;
  left: 4px;
  transition: transform 0.3s;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .toggleSwitch {
  background-color: #76b3fa;
}

input[type="checkbox"]:checked + .toggleSwitch::before {
  transform: translateX(26px);
}

.labelText {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: rgba(34, 34, 34, 0.85);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  width: 400px;
  text-align: center;
  z-index: 1001;
}

.settingButton {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  min-width: 150px;
  backface-visibility: hidden;
}

.settingButton:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 30px rgba(19, 127, 212, 0.75);
}

.settingButton:focus {
  outline: none !important;
}
