@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");



*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
}

/* MAIN MENU */

main {
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-delay: 1s; /* .ring 애니메이션이 끝난 후 시작 */
  animation-fill-mode: forwards;
  font-family: "Nunito", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 13% 87%;
  width: 100vw;
  height: 90vh;
  margin: 40px;
  background: rgb(254, 254, 254, 0.2);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  z-index: 10;
}

.main-menu {
  overflow: hidden;
  background: #f64f59;
  padding-top: 10px;
  border-radius: 15px 0 0 15px;
  font-family: "Roboto", sans-serif;
}

.main-menu h1 {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 30px;
  color: #12c2e9;
  font-family: "Nunito", sans-serif;
}

.nav-item {
  position: relative;
  display: block;
}

.nav-item a {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #12c2e9;
  font-size: 1rem;
  padding: 15px 0;
  margin-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav-item b:nth-child(1) {
  position: absolute;
  top: -15px;
  height: 15px;
  width: 100%;
  background: #12c2e9;
  display: none;
}

.nav-item b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #c471ed;
}

.nav-item b:nth-child(2) {
  position: absolute;
  bottom: -15px;
  height: 15px;
  width: 100%;
  background: #12c2e9;
  display: none;
}

.nav-item b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: #c471ed;
}

.nav-item.active:hover a {
  color: #f64f59; /* 호버 시 텍스트 색상 변경 */
  background: #12c2e9; /* 호버 시 배경색 변경 */
}

.nav-item.active:hover b:nth-child(1),
.nav-item.active:hover b:nth-child(2) {
  background: #c471ed; /* 호버 시 b 요소의 배경색 변경 */
}

.nav-item.profile:hover a {
  color: #f64f59; /* 호버 시 텍스트 색상 변경 */
  background: #12c2e9; /* 호버 시 배경색 변경 */
}

.nav-item.profile:hover b:nth-child(1),
.nav-item.profile:hover b:nth-child(2) {
  background: #c471ed; /* 호버 시 b 요소의 배경색 변경 */
}

.nav-item.quest:hover a {
  color: #f64f59; /* 호버 시 텍스트 색상 변경 */
  background: #12c2e9; /* 호버 시 배경색 변경 */
}

.nav-item.quest:hover b:nth-child(1),
.nav-item.quest:hover b:nth-child(2) {
  background: #c471ed; /* 호버 시 b 요소의 배경색 변경 */
}

.nav-item.shop:hover a {
  color: #f64f59; /* 호버 시 텍스트 색상 변경 */
  background: #12c2e9; /* 호버 시 배경색 변경 */
}

.nav-item.shop:hover b:nth-child(1),
.nav-item.shop:hover b:nth-child(2) {
  background: #c471ed; /* 호버 시 b 요소의 배경색 변경 */
}

.nav-item.setting:hover a {
  color: #f64f59; /* 호버 시 텍스트 색상 변경 */
  background: #12c2e9; /* 호버 시 배경색 변경 */
}

.nav-item.setting:hover b:nth-child(1),
.nav-item.setting:hover b:nth-child(2) {
  background: #c471ed; /* 호버 시 b 요소의 배경색 변경 */
}


.nav-icon {
  width: 60px;
  height: 20px;
  font-size: 20px;
  text-align: center;
}

.nav-text {
  display: block;
  width: 120px;
  height: 20px;
}

/* CONTENT */

.content {
  display: grid;
  grid-template-rows: 70% 30%;
  overflow-y: scroll; /* 수직 스크롤만 허용 */
  scrollbar-width: none; /* 파이어폭스에서 스크롤바 숨기기 */

  /* 크롬, 사파리, 오페라에서 스크롤바 숨기기 */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* fadeIn 애니메이션 정의 */
@keyframes fadeInAnimation {
  from {
    opacity: 0; /* 시작 상태: 완전히 투명 */
  }
  to {
    opacity: 1; /* 끝 상태: 완전히 불투명 */
  }
}
