.questContainer {
  padding: var(--padding);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: var(--max-width);
  margin: var(--margin);
}

.missionDetail {
  margin-bottom: 20px;
}

.missionDetail p {
  margin: 5px 0;
}

.missionDetail h3 {
  margin-top: 20px;
}

.missionDetail h4 {
  margin-top: 15px;
}

.missionDetail ul {
  padding-left: 20px;
  list-style-type: disc;
}

.missionDetail pre {
  background-color: var(--secondary-background);
  padding: var(--secondary-padding);
  border-radius: var(--secondary-border-radius);
  overflow-x: auto;
}

h2, h3, h4 {
  color: var(--primary-color);
}

/* 반응형 디자인 추가 */
@media (max-width: 768px) {
  .questContainer {
    padding: 15px;
    max-width: 90%;
  }

  .missionDetail ul {
    padding-left: 15px;
  }
}
