.questContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.missionDetails {
  margin-top: 20px;
}

.missionDetails h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.missionDetails p {
  font-size: 18px;
  margin-bottom: 20px;
}

.missionDetails ul {
  list-style-type: disc;
  padding-left: 20px;
}

.missionDetails ul li {
  font-size: 16px;
  margin-bottom: 10px;
}
