* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Consolas', 'Courier New', monospace;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    color: #d4d4d4;
    overflow: hidden;
}
/* 기본 아이콘 스타일 */
#tabs img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* 센터 정렬 */
}

/* 화면 너비가 768px 이하일 때 적용될 스타일 */
@media (max-width: 768px) {
    #tabs img {
        max-width: 50%; /* 아이콘 크기를 줄임 */
        height: auto;
    }
}

#box {
    display: flex;
    height: 57vh;
}

#box > div {
    border: 1px solid #3c3c3c;
}

#right, #tabs {
    background-color: #252526;
    width: 30%;
}

#left, #gui {
    background-color: #2d2d2d;
    width: 100%;
}

#right > div, #left > div, #side > div {
    border: 1px solid #3c3c3c;
}

#tabview {
    position: relative; /* 자식 요소인 #accordion에 대한 기준점을 설정 */
    height: 100%;
    width: 100%;
}

#accordion {
    max-width: 100%; /* #tabview 너비를 초과하지 않도록 설정 */
    max-height: 100%; /* #tabview 높이를 초과하지 않도록 설정 */
    overflow: hidden; /* 내용이 넘칠 경우 스크롤바를 표시 */
    box-sizing: border-box;
    position: absolute; /* #tabview 내에서 절대 위치 설정 */
    top: 0;
    left: 0;
}



#side {
    display: flex;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.items {
    display: block;
    padding: 0;
    width: 100%;
    height: 4em;
    border: 1px dotted #3c3c3c;
    margin: 1em 0;
    border-radius: 20px;
    background-color: #333;
}

#memo {
    margin-top: auto; /* #memo를 아래로 밀어내기 */
    width: 100%; 
    height: 8%;
    background-color: #2d2d2d; 
    color: #d4d4d4; 
    border: none; 
    outline: none; 
    resize: none;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    width: 100%; /* textarea를 #memo의 너비에 맞추기 */
    background-color: #1e1e1e;
    color: #2cff00;
    resize: none; /* 스크롤바가 나타나지 않도록 설정 */
}

#gui{
    height: 100%;
}
#term {
    height: 50%;
}

#shop {
    
}