@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.tutoMain {
    position: relative;
    /* width: 1150px;
    height: 750px; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 1920 × 1080 */
.wrap,
.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-image: url('/src/assets/tutorial.png');
    background-size: 1120px 630px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.box:nth-child(1) {
    filter: blur(8px);
}

.box:nth-child(2) {
    --w1: calc(var(--y) - var(--height) / 2);
    --w2: calc(100% - var(--x) - var(--width) / 2 - var(--width) / 2);
    --w3: calc(100% - var(--y) - var(--height) / 2 - var(--height) / 2);
    --w4: calc(var(--x) - var(--width) / 2);
    clip-path: inset(var(--w1) var(--w2) var(--w3) var(--w4));
}

.circle {
    position: absolute;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.901);
    /* box-shadow: 0 5px 23px rgba(0, 0, 0, 0.5); */
    border-radius: 15px 15px;
    /* box-shadow: #050505 0px, 0px, 0px, 3px; */
    top: 2px;
    left: -15px;
    transform: translate(var(--x), var(--y));
}

.pop {
    position: absolute;
    background-color: #fff;
    border: 3px solid #050505;
    border-radius: 10px 10px;
    font-family: 'Noto Sans KR', sans-serif !important;
    font-size: 20px;
    font-weight: 500;
    top: 12px;
    left: -5px;
    transform: translate(var(--x), var(--y));
}


.tutoBtn {
    position: absolute;
    bottom: 30px;
    font-family: 'Noto Sans KR', sans-serif !important;
}